<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Add your charity</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src='/js/addCharity.js'></script>  
  </head>
  <body>
    <div class="container">
      <div class='jumbotron'>
        <div class='container'>
          <h1>Add your charity to begin collecting donations</h1>
        </div>
      </div>  
      <form class="form-horizontal" method='GET' id='newCharity' action='/organization'>
          <fieldset class="form-group">
            <legend>Please complete all required fields</legend>
            <div class='form-group'>
              <label class="col-sm-2 control-label">Charity name:</label>
              <div class="col-sm-10">
                <input type='text' name='name' id='name'>
              </div>
            </div>
            <div class='form-group'>
              <label class="col-sm-2 control-label">Website:</label>
              <div class="col-sm-10">
                <input type='text' name='website' id='website'>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Description:</label>
              <div class="col-sm-10">
                <input type='text' name='charityDescription' id='charityDescription'>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" id="submitCharity" class="btn btn-primary">
              </div>
            </div>
          </fieldset>
        </form> 
       </div>
     </div>

     <div class="container">
        <h3>Current charities:</h3>
        <table class="table table-bordered" id="charityTable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Website</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody id="charityBody">
            {{#each results}}
            <tr>
              <td>{{this.charity_name}}</td>
              <td>{{this.charity_website}}</td>
              <td>{{this.charity_description}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
     </div>
  </body>
</html>