<!DOCTYPE html>
<html lang="en">
  <head>
    <title>fit for charity</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


    <!-- !!!NOTE: look at /js/app.js file for form click event handling --> 
    <script src='/js/app.js'></script>
	
  </head>
	<body>
		<div class="container">
			<img src="/images/largelogo2.png" alt="site logo" class="img-responsive center-block" id="landingLogo"/>
		</div>
		
		
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3" id="infotext">
					Whether you have money to give or steps to take, fit for charity will let you contribute to a worthy cause. You can become a sponsor by pledging a step goal and associated donation amount to a charity. Or act as a donor by applying the steps you take towards a pledged goal. In whichever way you can contribute, let fit for charity help you take steps towards supporting those in need.
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="form-group" method="GET" id='userType'>
						<label>Choose from below to enter the app:</label>
						<div class="radio">
						  <label><input type="radio" name="select-type" value="donor">Donor</label>
						</div>
		                <div class="radio">
						  <label><input type="radio" name="select-type" value="charity">Charity</label>
						</div>
						<div class="radio">
						  <label><input type="radio" name="select-type" value="sponsor">Sponsor</label>
						</div>
						<button type="submit" class="btn btn-primary" id='submitUserType'>Submit</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>