<!DOCTYPE html>
<html lang="en">
  <head>
    <title>fit for charity</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


    <!-- !!!NOTE: look at /js/app.js file for form click event handling --> 
    <script src='/js/app.js'></script>
	
  </head>
	<body id="landingbody">
		<div class="container">
			<img src="/images/largelogo2.jpg" alt="site title" class="img-responsive center-block" id="landingLogo"/>
		</div>
		<hr class="divider">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3" id="infotext">
					Text explaining app. Much did had call new drew that kept. Limits expect wonder law she. Now has you views woman noisy match money rooms. To up remark it eldest length oh passed. Off because yet mistake feeling has men. Consulted disposing to moonlight ye extremity. Engage piqued in on coming. Take the right steps towards improving the world around you.
				</div>
			</div>
		</div>


		<!--
		<div class="container">
			<div class="row">
			  <div class="col-md-3 col-md-offset-3">
			    <div class="card card-block">
			      <h3 class="card-title">Be a donor</h3>
			      <p class="card-text">Every step you take today can support a worthy cause.</p>
			      <a href="#" class="btn btn-primary">Donor access</a>
			    </div>
			  </div>
			  <div class="col-sm-3">
			    <div class="card card-block">
			      <h3 class="card-title">Include your charity</h3>
			      <p class="card-text">Get your charity the help it needs.</p>
			      <a href="#" class="btn btn-primary">Charity access</a>
			    </div>
			  </div>
			  <div class="col-sm-3">
			    <div class="card card-block">
			      <h3 class="card-title">Become a sponsor</h3>
			      <p class="card-text">Contribute to a charity.</p>
			      <a href="#" class="btn btn-primary">Sponsor access</a>
			    </div>
			  </div>
			</div>
		</div>
		-->

		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="form-group" method="GET" id='userType'>
						<label>Choose below to enter the app:</label>
						<div class="radio">
						  <label><input type="radio" name="select-type" value="donor">Donor</label>
						</div>
		                <div class="radio">
						  <label><input type="radio" name="select-type" value="charity">Charity</label>
						</div>
						<div class="radio">
						  <label><input type="radio" name="select-type" value="sponsor">Sponsor</label>
						</div>
						<button type="submit" class="btn btn-primary" id='submitUserType'>Submit</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>