/*#landingbody {
	background-image: url(/images/runnersimage.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

#bodycontent {
	background-color: white;
}*/

#landingLogo {
	margin-top: 50px;
	margin-bottom: 20px;
	height: 121px;
	width: 550px;
}

#infotext {
	margin-top: 20px;
	margin-bottom: 40px;
	font-family: MuseoSans, serif;
    font-size: 15px;
}