#landingbody {
	background-image: url(/images/runnersimage.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

#bodycontent {
	background-color: white;
}

#landingLogo {
	margin-top: 50px;
	margin-bottom: 10px;
	height: 133px;
	width: 600px;
}

#infotext {
	margin-top: 20px;
	margin-bottom: 20px;
}

hr.divider {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}
hr.divider:after {
	content: '';
	display: block;
	margin-top: 2px;
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}