#landingLogo {
	margin-top: 50px;
	margin-bottom: 20px;
	height: 155px;
	width: 700px;
}

hr.divider {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}
hr.divider:after {
	content: '';
	display: block;
	margin-top: 2px;
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}